<hr style="border:2px solid gray"> </hr>
<img src="https://mma.prnewswire.com/media/1095203/East_Tennessee_State_University_Logo.jpg?p=facebook" width=200 height=200 />

<div class="alert alert-block alert-info">
    <h1 style="text-align: center">CSCI 5270 - Machine Learning</h1>
</div>

# <center>Project- Tech- Employes Layoffs Prediction and Analysis</center>

**<center>Bigya Bajracharya </center>**
**<center>Sangam Shrestha </center>**

<hr style="border:2px solid lightblue"> </hr>

In [15]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
%matplotlib inline

sns.set_style('darkgrid')
sns.set_palette('Set2')

In [16]:
dataset = pd.read_csv('LayOffDataset.csv')
dataset.shape

(3000, 26)

In [17]:
# exploring the dataset
dataset.head(10)

,EmpID,FirstName,LastName,StartDate,ExitDate,Title,Supervisor,ADEmail,BusinessUnit,EmployeeStatus,...,Division,DOB,State,JobFunctionDescription,GenderCode,LocationCode,RaceDesc,MaritalDesc,Performance Score,Current Employee Rating
0,3427,Uriah,Bridges,2019-09-20 00:00:00.000,NaN,Production Technician I,Peter Oneill,uriah.bridges@bilearner.com,CCDR,Active,...,Finance & Accounting,07-10-1969,MA,Accounting,Female,34904,White,Widowed,Fully Meets,4
1,3428,Paula,Small,2023-02-11 00:00:00.000,NaN,Production Technician I,Renee Mccormick,paula.small@bilearner.com,EW,Active,...,Aerial,30-08-1965,MA,Labor,Male,6593,Hispanic,Widowed,Fully Meets,3
2,3429,Edward,Buck,2018-12-10 00:00:00.000,NaN,Area Sales Manager,Crystal Walker,edward.buck@bilearner.com,PL,Active,...,General - Sga,06-10-1991,MA,Assistant,Male,2330,Hispanic,Widowed,Fully Meets,4
3,3430,Michael,Riordan,2021-06-21 00:00:00.000,NaN,Area Sales Manager,Rebekah Wright,michael.riordan@bilearner.com,CCDR,Active,...,Finance & Accounting,04-04-1998,ND,Clerk,Male,58782,Other,Single,Fully Meets,2
4,3431,Jasmine,Onque,2019-06-29 00:00:00.000,NaN,Area Sales Manager,Jason Kim,jasmine.onque@bilearner.com,TNS,Active,...,General - Con,29-08-1969,FL,Laborer,Female,33174,Other,Married,Fully Meets,3
5,3432,Maruk,Fraval,2020-01-17 00:00:00.000,NaN,Area Sales Manager,Sheri Campos,maruk.fraval@bilearner.com,BPC,Active,...,Field Operations,03-04-1949,CT,Driver,Male,6050,Black,Married,Fully Meets,3
6,3433,Latia,Costa,2022-04-06 00:00:00.000,2023-07-03 00:00:00.000,Area Sales Manager,Jacob Braun,latia.costa@bilearner.com,WBL,Active,...,General - Eng,01-07-1942,CA,Technician,Female,90007,Hispanic,Divorced,Exceeds,4
7,3434,Sharlene,Terry,2020-11-06 00:00:00.000,2023-01-29 00:00:00.000,Area Sales Manager,Tracy Marquez,sharlene.terry@bilearner.com,CCDR,Active,...,Engineers,07-03-1957,OR,Engineer,Female,97756,White,Divorced,Fully Meets,2
8,3435,Jac,McKinzie,2018-08-18 00:00:00.000,NaN,Area Sales Manager,Sharon Becker,jac.mckinzie@bilearner.com,NEL,Active,...,Executive,15-05-1974,TX,Executive Assistant,Male,78789,Black,Widowed,Exceeds,3
9,3436,Joseph,Martins,2022-01-21 00:00:00.000,2023-06-29 00:00:00.000,Area Sales Manager,George Jenkins,joseph.martins@bilearner.com,BPC,Active,...,Engineers,11-11-1949,TX,Engineer,Male,78207,Asian,Widowed,Fully Meets,5

In [18]:
dataset.columns

Index(['EmpID', 'FirstName', 'LastName', 'StartDate', 'ExitDate', 'Title',
       'Supervisor', 'ADEmail', 'BusinessUnit', 'EmployeeStatus',
       'EmployeeType', 'PayZone', 'EmployeeClassificationType',
       'TerminationType', 'TerminationDescription', 'DepartmentType',
       'Division', 'DOB', 'State', 'JobFunctionDescription', 'GenderCode',
       'LocationCode', 'RaceDesc', 'MaritalDesc', 'Performance Score',
       'Current Employee Rating'],
      dtype='object')

In [19]:
dataset.TerminationType.value_counts()

TerminationType
Unk            1467
Involuntary     388
Voluntary       388
Resignation     380
Retirement      377
Name: count, dtype: int64

In [20]:
dataset.isnull().sum()

EmpID                            0
FirstName                        0
LastName                         0
StartDate                        0
ExitDate                      1467
Title                            0
Supervisor                       0
ADEmail                         18
BusinessUnit                     0
EmployeeStatus                   0
EmployeeType                     0
PayZone                          0
EmployeeClassificationType       0
TerminationType                  0
TerminationDescription        1467
DepartmentType                   0
Division                         0
DOB                              0
State                            0
JobFunctionDescription           0
GenderCode                       0
LocationCode                     0
RaceDesc                         0
MaritalDesc                      0
Performance Score                0
Current Employee Rating          0
dtype: int64

In [21]:
dataset.drop(columns=['TerminationDescription','EmpID','ADEmail','FirstName','LastName','DOB'],inplace=True)
dataset.head(10)

,StartDate,ExitDate,Title,Supervisor,BusinessUnit,EmployeeStatus,EmployeeType,PayZone,EmployeeClassificationType,TerminationType,DepartmentType,Division,State,JobFunctionDescription,GenderCode,LocationCode,RaceDesc,MaritalDesc,Performance Score,Current Employee Rating
0,2019-09-20 00:00:00.000,NaN,Production Technician I,Peter Oneill,CCDR,Active,Contract,Zone C,Temporary,Unk,Production,Finance & Accounting,MA,Accounting,Female,34904,White,Widowed,Fully Meets,4
1,2023-02-11 00:00:00.000,NaN,Production Technician I,Renee Mccormick,EW,Active,Contract,Zone A,Part-Time,Unk,Production,Aerial,MA,Labor,Male,6593,Hispanic,Widowed,Fully Meets,3
2,2018-12-10 00:00:00.000,NaN,Area Sales Manager,Crystal Walker,PL,Active,Full-Time,Zone B,Part-Time,Unk,Sales,General - Sga,MA,Assistant,Male,2330,Hispanic,Widowed,Fully Meets,4
3,2021-06-21 00:00:00.000,NaN,Area Sales Manager,Rebekah Wright,CCDR,Active,Contract,Zone A,Full-Time,Unk,Sales,Finance & Accounting,ND,Clerk,Male,58782,Other,Single,Fully Meets,2
4,2019-06-29 00:00:00.000,NaN,Area Sales Manager,Jason Kim,TNS,Active,Contract,Zone A,Temporary,Unk,Sales,General - Con,FL,Laborer,Female,33174,Other,Married,Fully Meets,3
5,2020-01-17 00:00:00.000,NaN,Area Sales Manager,Sheri Campos,BPC,Active,Contract,Zone B,Full-Time,Unk,Sales,Field Operations,CT,Driver,Male,6050,Black,Married,Fully Meets,3
6,2022-04-06 00:00:00.000,2023-07-03 00:00:00.000,Area Sales Manager,Jacob Braun,WBL,Active,Full-Time,Zone B,Temporary,Involuntary,Sales,General - Eng,CA,Technician,Female,90007,Hispanic,Divorced,Exceeds,4
7,2020-11-06 00:00:00.000,2023-01-29 00:00:00.000,Area Sales Manager,Tracy Marquez,CCDR,Active,Contract,Zone C,Full-Time,Involuntary,Sales,Engineers,OR,Engineer,Female,97756,White,Divorced,Fully Meets,2
8,2018-08-18 00:00:00.000,NaN,Area Sales Manager,Sharon Becker,NEL,Active,Contract,Zone B,Part-Time,Unk,Sales,Executive,TX,Executive Assistant,Male,78789,Black,Widowed,Exceeds,3
9,2022-01-21 00:00:00.000,2023-06-29 00:00:00.000,Area Sales Manager,George Jenkins,BPC,Active,Part-Time,Zone B,Temporary,Resignation,Sales,Engineers,TX,Engineer,Male,78207,Asian,Widowed,Fully Meets,5

In [22]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   StartDate                   3000 non-null   object
 1   ExitDate                    1533 non-null   object
 2   Title                       3000 non-null   object
 3   Supervisor                  3000 non-null   object
 4   BusinessUnit                3000 non-null   object
 5   EmployeeStatus              3000 non-null   object
 6   EmployeeType                3000 non-null   object
 7   PayZone                     3000 non-null   object
 8   EmployeeClassificationType  3000 non-null   object
 9   TerminationType             3000 non-null   object
 10  DepartmentType              3000 non-null   object
 11  Division                    3000 non-null   object
 12  State                       3000 non-null   object
 13  JobFunctionDescription      3000 non-null   object
 14  GenderCode                  3000 non-null   object
 15  LocationCode                3000 non-null   int64
 16  RaceDesc                    3000 non-null   object
 17  MaritalDesc                 3000 non-null   object
 18  Performance Score           3000 non-null   object
 19  Current Employee Rating     3000 non-null   int64
dtypes: int64(2), object(18)
memory usage: 468.9+ KB

In [23]:
# Filter the DataFrame to include only records with non-null ExitDate and involuntary and voluntary terminationType
df_with_exit_date = dataset[dataset['ExitDate'].notnull() & 
    ((dataset['TerminationType'].str.lower() == 'involuntary') | 
     (dataset['TerminationType'].str.lower() == 'voluntary'))]

df_with_exit_date

,StartDate,ExitDate,Title,Supervisor,BusinessUnit,EmployeeStatus,EmployeeType,PayZone,EmployeeClassificationType,TerminationType,DepartmentType,Division,State,JobFunctionDescription,GenderCode,LocationCode,RaceDesc,MaritalDesc,Performance Score,Current Employee Rating
6,2022-04-06 00:00:00.000,2023-07-03 00:00:00.000,Area Sales Manager,Jacob Braun,WBL,Active,Full-Time,Zone B,Temporary,Involuntary,Sales,General - Eng,CA,Technician,Female,90007,Hispanic,Divorced,Exceeds,4
7,2020-11-06 00:00:00.000,2023-01-29 00:00:00.000,Area Sales Manager,Tracy Marquez,CCDR,Active,Contract,Zone C,Full-Time,Involuntary,Sales,Engineers,OR,Engineer,Female,97756,White,Divorced,Fully Meets,2
12,2022-05-25 00:00:00.000,2022-11-27 00:00:00.000,Area Sales Manager,Charles Parks,EW,Active,Full-Time,Zone A,Temporary,Involuntary,Sales,Splicing,CO,Splicer,Male,80820,Other,Single,Fully Meets,3
16,2021-04-05 00:00:00.000,2023-05-12 00:00:00.000,Area Sales Manager,Lauren Jones,WBL,Active,Full-Time,Zone C,Part-Time,Voluntary,IT/IS,Project Management - Con,KY,Coordinator,Male,2621,Asian,Widowed,Fully Meets,3
17,2021-11-28 00:00:00.000,2022-02-04 00:00:00.000,Area Sales Manager,Matthew Jackson,NEL,Active,Contract,Zone A,Part-Time,Voluntary,Sales,Engineers,KY,Director,Male,44553,Other,Widowed,Fully Meets,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2978,2020-01-13 00:00:00.000,2022-10-21 00:00:00.000,Production Technician I,Karen Lin,WBL,Leave of Absence,Contract,Zone B,Full-Time,Voluntary,Production,Field Operations,MA,Engineer,Female,12351,White,Single,Fully Meets,1
2979,2020-03-25 00:00:00.000,2023-04-26 00:00:00.000,Production Technician I,Tina Munoz,NEL,Voluntarily Terminated,Contract,Zone C,Temporary,Involuntary,Production,Finance & Accounting,MA,Administration,Female,24805,Other,Single,Fully Meets,5
2980,2021-04-15 00:00:00.000,2023-05-11 00:00:00.000,Production Technician II,Aaron Stewart,WBL,Active,Part-Time,Zone C,Temporary,Voluntary,Production,Field Operations,MA,Construction Manager,Female,18000,Asian,Single,Fully Meets,5
2993,2020-10-10 00:00:00.000,2022-08-05 00:00:00.000,Production Technician I,Lynn Smith,NEL,Active,Contract,Zone A,Full-Time,Voluntary,Production,Field Operations,MA,Laborer,Female,18079,Other,Married,Fully Meets,2
2997,2020-12-09 00:00:00.000,2022-08-04 00:00:00.000,Production Technician I,Mr. James Castillo,TNS,Voluntarily Terminated,Contract,Zone B,Temporary,Involuntary,Production,Wireline Construction,MA,Laborer,Male,6608,White,Single,Fully Meets,2

In [24]:
df_with_exit_date.info()

<class 'pandas.core.frame.DataFrame'>
Index: 776 entries, 6 to 2997
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   StartDate                   776 non-null    object
 1   ExitDate                    776 non-null    object
 2   Title                       776 non-null    object
 3   Supervisor                  776 non-null    object
 4   BusinessUnit                776 non-null    object
 5   EmployeeStatus              776 non-null    object
 6   EmployeeType                776 non-null    object
 7   PayZone                     776 non-null    object
 8   EmployeeClassificationType  776 non-null    object
 9   TerminationType             776 non-null    object
 10  DepartmentType              776 non-null    object
 11  Division                    776 non-null    object
 12  State                       776 non-null    object
 13  JobFunctionDescription      776 non-null    object
 14  GenderCode                  776 non-null    object
 15  LocationCode                776 non-null    int64
 16  RaceDesc                    776 non-null    object
 17  MaritalDesc                 776 non-null    object
 18  Performance Score           776 non-null    object
 19  Current Employee Rating     776 non-null    int64
dtypes: int64(2), object(18)
memory usage: 127.3+ KB

In [26]:
print(pd.unique(df_with_exit_date.loc[:, 'StartDate']))
print(pd.unique(df_with_exit_date.loc[:, 'ExitDate']))
print(pd.unique(df_with_exit_date.loc[:, 'Title']))
print(pd.unique(df_with_exit_date.loc[:, 'Supervisor']))
print(pd.unique(df_with_exit_date.loc[:, 'BusinessUnit']))
print(pd.unique(df_with_exit_date.loc[:, 'EmployeeStatus']))
print(pd.unique(df_with_exit_date.loc[:, 'EmployeeType']))
print(pd.unique(df_with_exit_date.loc[:, 'PayZone']))
print(pd.unique(df_with_exit_date.loc[:, 'EmployeeClassificationType']))
print(pd.unique(df_with_exit_date.loc[:, 'TerminationType']))
print(pd.unique(df_with_exit_date.loc[:, 'DepartmentType']))
print(pd.unique(df_with_exit_date.loc[:, 'Division']))
print(pd.unique(df_with_exit_date.loc[:, 'State']))
print(pd.unique(df_with_exit_date.loc[:, 'JobFunctionDescription']))
print(pd.unique(df_with_exit_date.loc[:, 'GenderCode']))
print(pd.unique(df_with_exit_date.loc[:, 'RaceDesc']))
print(pd.unique(df_with_exit_date.loc[:, 'MaritalDesc']))
print(pd.unique(df_with_exit_date.loc[:, 'Performance Score']))

['2022-04-06 00:00:00.000' '2020-11-06 00:00:00.000'
 '2022-05-25 00:00:00.000' '2021-04-05 00:00:00.000'
 '2021-11-28 00:00:00.000' '2020-05-26 00:00:00.000'
 '2023-05-10 00:00:00.000' '2021-02-18 00:00:00.000'
 '2022-04-28 00:00:00.000' '2018-09-13 00:00:00.000'
 '2018-12-03 00:00:00.000' '2023-06-12 00:00:00.000'
 '2022-08-02 00:00:00.000' '2019-03-07 00:00:00.000'
 '2022-10-31 00:00:00.000' '2023-04-26 00:00:00.000'
 '2018-09-25 00:00:00.000' '2018-11-20 00:00:00.000'
 '2019-08-27 00:00:00.000' '2023-04-17 00:00:00.000'
 '2022-09-02 00:00:00.000' '2021-04-10 00:00:00.000'
 '2020-12-13 00:00:00.000' '2020-01-03 00:00:00.000'
 '2021-06-01 00:00:00.000' '2020-04-06 00:00:00.000'
 '2021-07-31 00:00:00.000' '2023-07-11 00:00:00.000'
 '2019-02-09 00:00:00.000' '2019-04-19 00:00:00.000'
 '2020-03-09 00:00:00.000' '2021-05-18 00:00:00.000'
 '2021-07-21 00:00:00.000' '2020-11-20 00:00:00.000'
 '2021-11-23 00:00:00.000' '2021-10-05 00:00:00.000'
 '2021-04-11 00:00:00.000' '2019-08-01 00:00:00.000'
 '2020-01-08 00:00:00.000' '2023-03-23 00:00:00.000'
 '2023-03-22 00:00:00.000' '2022-08-27 00:00:00.000'
 '2022-09-24 00:00:00.000' '2020-02-07 00:00:00.000'
 '2020-12-28 00:00:00.000' '2021-02-04 00:00:00.000'
 '2022-11-04 00:00:00.000' '2019-10-02 00:00:00.000'
 '2022-02-28 00:00:00.000' '2020-10-06 00:00:00.000'
 '2022-04-29 00:00:00.000' '2023-08-06 00:00:00.000'
 '2023-01-26 00:00:00.000' '2022-06-11 00:00:00.000'
 '2020-06-25 00:00:00.000' '2021-11-02 00:00:00.000'
 '2019-12-01 00:00:00.000' '2019-05-04 00:00:00.000'
 '2020-08-04 00:00:00.000' '2019-05-20 00:00:00.000'
 '2019-11-05 00:00:00.000' '2018-09-20 00:00:00.000'
 '2022-08-30 00:00:00.000' '2019-01-25 00:00:00.000'
 '2020-11-21 00:00:00.000' '2019-02-04 00:00:00.000'
 '2022-07-31 00:00:00.000' '2021-05-25 00:00:00.000'
 '2020-02-16 00:00:00.000' '2019-04-07 00:00:00.000'
 '2020-07-13 00:00:00.000' '2022-12-08 00:00:00.000'
 '2022-04-15 00:00:00.000' '2018-08-24 00:00:00.000'
 '2022-10-15 00:00:00.000' '2023-02-27 00:00:00.000'
 '2019-05-31 00:00:00.000' '2019-03-05 00:00:00.000'
 '2020-06-02 00:00:00.000' '2022-10-17 00:00:00.000'
 '2023-06-22 00:00:00.000' '2023-01-12 00:00:00.000'
 '2022-01-13 00:00:00.000' '2019-06-20 00:00:00.000'
 '2023-04-02 00:00:00.000' '2022-10-19 00:00:00.000'
 '2019-08-18 00:00:00.000' '2023-05-17 00:00:00.000'
 '2020-04-04 00:00:00.000' '2022-05-14 00:00:00.000'
 '2020-01-02 00:00:00.000' '2018-08-11 00:00:00.000'
 '2019-05-10 00:00:00.000' '2018-12-17 00:00:00.000'
 '2023-04-01 00:00:00.000' '2020-08-20 00:00:00.000'
 '2021-06-10 00:00:00.000' '2020-01-05 00:00:00.000'
 '2023-03-17 00:00:00.000' '2022-10-02 00:00:00.000'
 '2019-11-29 00:00:00.000' '2019-05-13 00:00:00.000'
 '2020-09-29 00:00:00.000' '2019-09-25 00:00:00.000'
 '2018-09-08 00:00:00.000' '2019-02-08 00:00:00.000'
 '2021-03-29 00:00:00.000' '2022-05-06 00:00:00.000'
 '2019-08-13 00:00:00.000' '2022-07-13 00:00:00.000'
 '2020-07-06 00:00:00.000' '2020-09-24 00:00:00.000'
 '2021-12-25 00:00:00.000' '2020-03-01 00:00:00.000'
 '2020-04-15 00:00:00.000' '2022-07-21 00:00:00.000'
 '2023-02-03 00:00:00.000' '2022-09-20 00:00:00.000'
 '2021-06-07 00:00:00.000' '2018-10-19 00:00:00.000'
 '2020-10-04 00:00:00.000' '2018-12-25 00:00:00.000'
 '2020-11-03 00:00:00.000' '2019-12-02 00:00:00.000'
 '2019-04-17 00:00:00.000' '2019-10-26 00:00:00.000'
 '2022-12-12 00:00:00.000' '2023-03-08 00:00:00.000'
 '2020-05-29 00:00:00.000' '2020-10-25 00:00:00.000'
 '2019-08-28 00:00:00.000' '2021-01-12 00:00:00.000'
 '2020-11-09 00:00:00.000' '2020-02-21 00:00:00.000'
 '2020-09-07 00:00:00.000' '2020-06-19 00:00:00.000'
 '2018-11-09 00:00:00.000' '2018-12-30 00:00:00.000'
 '2020-06-14 00:00:00.000' '2022-04-19 00:00:00.000'
 '2019-08-22 00:00:00.000' '2022-04-23 00:00:00.000'
 '2019-05-30 00:00:00.000' '2022-04-08 00:00:00.000'
 '2021-02-25 00:00:00.000' '2018-10-10 00:00:00.000'
 '2019-05-18 00:00:00.000' '2021-12-27 00:00:00.000'
 '2019-03-28 00:00:00.000' '2021-02-19 00:00:00.000'
 '2022-11-05 00:00:00.000' '2020-02-24 00:00:00.000'
 '2022-01-17 00:00:00.000' '2022-08-12 00:00:00.000'
 '2022-07-08 00:00:00.000' '2023-05-27 00:00:00.000'
 '2018-11-16 00:00:00.000' '2022-02-15 00:00:00.000'
 '2023-07-17 00:00:00.000' '2019-05-03 00:00:00.000'
 '2020-10-08 00:00:00.000' '2019-03-09 00:00:00.000'
 '2019-11-24 00:00:00.000' '2019-12-24 00:00:00.000'
 '2021-05-15 00:00:00.000' '2022-03-14 00:00:00.000'
 '2019-07-12 00:00:00.000' '2018-08-10 00:00:00.000'
 '2019-06-11 00:00:00.000' '2019-07-22 00:00:00.000'
 '2021-06-13 00:00:00.000' '2018-12-20 00:00:00.000'
 '2021-10-03 00:00:00.000' '2020-12-29 00:00:00.000'
 '2022-01-10 00:00:00.000' '2020-06-28 00:00:00.000'
 '2020-02-06 00:00:00.000' '2022-04-11 00:00:00.000'
 '2022-09-01 00:00:00.000' '2022-11-24 00:00:00.000'
 '2018-12-28 00:00:00.000' '2020-12-08 00:00:00.000'
 '2018-11-05 00:00:00.000' '2020-08-26 00:00:00.000'
 '2023-02-15 00:00:00.000' '2019-12-03 00:00:00.000'
 '2020-01-16 00:00:00.000' '2022-11-11 00:00:00.000'
 '2020-12-18 00:00:00.000' '2019-10-18 00:00:00.000'
 '2020-10-27 00:00:00.000' '2022-03-11 00:00:00.000'
 '2021-11-14 00:00:00.000' '2020-11-14 00:00:00.000'
 '2019-05-01 00:00:00.000' '2021-02-08 00:00:00.000'
 '2021-09-09 00:00:00.000' '2022-01-11 00:00:00.000'
 '2023-06-17 00:00:00.000' '2023-04-07 00:00:00.000'
 '2019-03-13 00:00:00.000' '2021-03-08 00:00:00.000'
 '2021-09-22 00:00:00.000' '2023-04-03 00:00:00.000'
 '2019-01-20 00:00:00.000' '2021-05-09 00:00:00.000'
 '2019-08-24 00:00:00.000' '2021-05-27 00:00:00.000'
 '2020-02-29 00:00:00.000' '2019-11-12 00:00:00.000'
 '2019-04-21 00:00:00.000' '2018-08-08 00:00:00.000'
 '2020-09-15 00:00:00.000' '2020-10-28 00:00:00.000'
 '2023-03-20 00:00:00.000' '2019-04-03 00:00:00.000'
 '2021-08-28 00:00:00.000' '2019-10-05 00:00:00.000'
 '2021-11-06 00:00:00.000' '2019-06-07 00:00:00.000'
 '2021-11-22 00:00:00.000' '2021-01-03 00:00:00.000'
 '2018-11-01 00:00:00.000' '2018-12-08 00:00:00.000'
 '2022-11-15 00:00:00.000' '2019-10-22 00:00:00.000'
 '2019-10-04 00:00:00.000' '2021-11-17 00:00:00.000'
 '2023-02-13 00:00:00.000' '2021-04-09 00:00:00.000'
 '2022-07-20 00:00:00.000' '2021-11-26 00:00:00.000'
 '2021-09-05 00:00:00.000' '2020-07-21 00:00:00.000'
 '2022-12-23 00:00:00.000' '2023-02-01 00:00:00.000'
 '2019-12-07 00:00:00.000' '2021-02-15 00:00:00.000'
 '2021-03-05 00:00:00.000' '2022-05-08 00:00:00.000'
 '2019-10-11 00:00:00.000' '2021-12-02 00:00:00.000'
 '2023-05-02 00:00:00.000' '2020-08-24 00:00:00.000'
 '2022-06-05 00:00:00.000' '2023-03-11 00:00:00.000'
 '2019-07-11 00:00:00.000' '2020-01-21 00:00:00.000'
 '2023-07-05 00:00:00.000' '2021-07-06 00:00:00.000'
 '2018-12-12 00:00:00.000' '2022-04-22 00:00:00.000'
 '2022-03-04 00:00:00.000' '2023-07-03 00:00:00.000'
 '2019-08-11 00:00:00.000' '2022-08-05 00:00:00.000'
 '2023-03-02 00:00:00.000' '2020-08-28 00:00:00.000'
 '2023-02-10 00:00:00.000' '2020-03-02 00:00:00.000'
 '2018-11-23 00:00:00.000' '2021-11-04 00:00:00.000'
 '2019-11-09 00:00:00.000' '2018-11-29 00:00:00.000'
 '2019-09-26 00:00:00.000' '2021-09-21 00:00:00.000'
 '2023-06-19 00:00:00.000' '2019-11-06 00:00:00.000'
 '2021-04-25 00:00:00.000' '2018-10-22 00:00:00.000'
 '2021-10-17 00:00:00.000' '2018-10-16 00:00:00.000'
 '2020-01-22 00:00:00.000' '2021-05-29 00:00:00.000'
 '2023-03-09 00:00:00.000' '2019-04-05 00:00:00.000'
 '2019-10-23 00:00:00.000' '2018-11-06 00:00:00.000'
 '2019-11-26 00:00:00.000' '2021-11-21 00:00:00.000'
 '2022-04-30 00:00:00.000' '2021-05-16 00:00:00.000'
 '2019-10-25 00:00:00.000' '2022-01-22 00:00:00.000'
 '2023-07-09 00:00:00.000' '2020-03-30 00:00:00.000'
 '2019-02-26 00:00:00.000' '2020-04-19 00:00:00.000'
 '2018-09-04 00:00:00.000' '2021-11-03 00:00:00.000'
 '2019-07-23 00:00:00.000' '2020-12-02 00:00:00.000'
 '2021-09-24 00:00:00.000' '2020-09-10 00:00:00.000'
 '2018-09-28 00:00:00.000' '2020-11-02 00:00:00.000'
 '2020-06-29 00:00:00.000' '2020-01-06 00:00:00.000'
 '2021-07-02 00:00:00.000' '2019-01-29 00:00:00.000'
 '2023-05-30 00:00:00.000' '2019-07-15 00:00:00.000'
 '2020-03-17 00:00:00.000' '2020-04-23 00:00:00.000'
 '2020-02-08 00:00:00.000' '2021-10-29 00:00:00.000'
 '2023-07-04 00:00:00.000' '2022-10-13 00:00:00.000'
 '2019-09-14 00:00:00.000' '2018-10-06 00:00:00.000'
 '2019-07-05 00:00:00.000' '2019-04-06 00:00:00.000'
 '2020-10-13 00:00:00.000' '2022-09-04 00:00:00.000'
 '2021-07-25 00:00:00.000' '2021-12-05 00:00:00.000'
 '2022-12-19 00:00:00.000' '2021-10-01 00:00:00.000'
 '2020-01-09 00:00:00.000' '2021-09-19 00:00:00.000'
 '2021-08-17 00:00:00.000' '2020-03-05 00:00:00.000'
 '2019-12-15 00:00:00.000' '2019-02-15 00:00:00.000'
 '2021-11-13 00:00:00.000' '2020-12-31 00:00:00.000'
 '2019-12-10 00:00:00.000' '2019-11-04 00:00:00.000'
 '2021-01-09 00:00:00.000' '2019-07-20 00:00:00.000'
 '2021-01-04 00:00:00.000' '2018-11-25 00:00:00.000'
 '2021-07-09 00:00:00.000' '2018-08-27 00:00:00.000'
 '2022-10-04 00:00:00.000' '2020-05-05 00:00:00.000'
 '2019-06-05 00:00:00.000' '2022-11-19 00:00:00.000'
 '2023-05-11 00:00:00.000' '2022-02-05 00:00:00.000'
 '2023-01-09 00:00:00.000' '2022-05-01 00:00:00.000'
 '2021-09-06 00:00:00.000' '2023-03-31 00:00:00.000'
 '2023-05-16 00:00:00.000' '2023-04-29 00:00:00.000'
 '2022-11-03 00:00:00.000' '2019-06-25 00:00:00.000'
 '2022-03-30 00:00:00.000' '2023-07-21 00:00:00.000'
 '2019-02-18 00:00:00.000' '2022-04-01 00:00:00.000'
 '2018-10-11 00:00:00.000' '2023-06-25 00:00:00.000'
 '2022-12-20 00:00:00.000' '2018-09-15 00:00:00.000'
 '2021-12-04 00:00:00.000' '2022-12-26 00:00:00.000'
 '2022-09-25 00:00:00.000' '2021-04-08 00:00:00.000'
 '2019-06-18 00:00:00.000' '2020-10-16 00:00:00.000'
 '2022-07-01 00:00:00.000' '2022-05-13 00:00:00.000'
 '2018-10-12 00:00:00.000' '2020-04-13 00:00:00.000'
 '2020-01-24 00:00:00.000' '2019-07-07 00:00:00.000'
 '2021-05-08 00:00:00.000' '2022-02-19 00:00:00.000'
 '2021-08-26 00:00:00.000' '2020-06-10 00:00:00.000'
 '2018-10-25 00:00:00.000' '2020-04-17 00:00:00.000'
 '2023-08-04 00:00:00.000' '2023-03-03 00:00:00.000'
 '2021-12-07 00:00:00.000' '2018-09-26 00:00:00.000'
 '2022-09-15 00:00:00.000' '2019-05-05 00:00:00.000'
 '2019-11-21 00:00:00.000' '2018-12-29 00:00:00.000'
 '2019-06-16 00:00:00.000' '2022-12-28 00:00:00.000'
 '2022-03-29 00:00:00.000' '2019-07-30 00:00:00.000'
 '2020-07-09 00:00:00.000' '2019-04-15 00:00:00.000'
 '2023-02-21 00:00:00.000' '2021-10-25 00:00:00.000'
 '2018-09-12 00:00:00.000' '2022-12-31 00:00:00.000'
 '2020-07-01 00:00:00.000' '2020-08-14 00:00:00.000'
 '2021-05-02 00:00:00.000' '2023-01-21 00:00:00.000'
 '2021-01-20 00:00:00.000' '2018-09-11 00:00:00.000'
 '2022-11-07 00:00:00.000' '2019-03-16 00:00:00.000'
 '2019-12-16 00:00:00.000' '2020-05-17 00:00:00.000'
 '2021-02-11 00:00:00.000' '2023-04-25 00:00:00.000'
 '2020-10-07 00:00:00.000' '2019-02-28 00:00:00.000'
 '2023-06-02 00:00:00.000' '2018-08-22 00:00:00.000'
 '2022-04-13 00:00:00.000' '2022-07-03 00:00:00.000'
 '2020-11-23 00:00:00.000' '2018-12-23 00:00:00.000'
 '2023-04-13 00:00:00.000' '2022-03-08 00:00:00.000'
 '2021-04-29 00:00:00.000' '2020-01-17 00:00:00.000'
 '2021-02-24 00:00:00.000' '2018-09-24 00:00:00.000'
 '2022-03-09 00:00:00.000' '2018-11-07 00:00:00.000'
 '2020-06-15 00:00:00.000' '2022-05-19 00:00:00.000'
 '2021-02-12 00:00:00.000' '2022-06-12 00:00:00.000'
 '2022-10-26 00:00:00.000' '2021-07-23 00:00:00.000'
 '2019-06-29 00:00:00.000' '2020-09-14 00:00:00.000'
 '2020-05-14 00:00:00.000' '2021-11-16 00:00:00.000'
 '2022-12-01 00:00:00.000' '2020-10-30 00:00:00.000'
 '2019-08-05 00:00:00.000' '2023-04-09 00:00:00.000'
 '2020-05-15 00:00:00.000' '2018-12-05 00:00:00.000'
 '2022-04-25 00:00:00.000' '2019-06-26 00:00:00.000'
 '2020-09-13 00:00:00.000' '2019-10-06 00:00:00.000'
 '2022-01-30 00:00:00.000' '2022-01-26 00:00:00.000'
 '2021-12-21 00:00:00.000' '2021-06-04 00:00:00.000'
 '2018-11-17 00:00:00.000' '2023-01-14 00:00:00.000'
 '2023-03-13 00:00:00.000' '2022-12-30 00:00:00.000'
 '2020-06-04 00:00:00.000' '2021-12-06 00:00:00.000'
 '2020-02-02 00:00:00.000' '2020-10-23 00:00:00.000'
 '2020-10-21 00:00:00.000' '2022-03-17 00:00:00.000'
 '2021-11-27 00:00:00.000' '2021-03-27 00:00:00.000'
 '2023-03-12 00:00:00.000' '2023-04-18 00:00:00.000'
 '2018-09-01 00:00:00.000' '2021-07-14 00:00:00.000'
 '2019-10-17 00:00:00.000' '2021-12-26 00:00:00.000'
 '2020-09-21 00:00:00.000' '2021-02-05 00:00:00.000'
 '2021-08-19 00:00:00.000' '2021-02-28 00:00:00.000'
 '2020-10-09 00:00:00.000' '2023-07-24 00:00:00.000'
 '2022-09-18 00:00:00.000' '2023-05-22 00:00:00.000'
 '2020-11-19 00:00:00.000' '2023-05-04 00:00:00.000'
 '2022-07-18 00:00:00.000' '2020-12-10 00:00:00.000'
 '2021-11-19 00:00:00.000' '2021-06-30 00:00:00.000'
 '2019-10-31 00:00:00.000' '2022-12-22 00:00:00.000'
 '2022-09-22 00:00:00.000' '2019-09-04 00:00:00.000'
 '2018-12-01 00:00:00.000' '2021-10-16 00:00:00.000'
 '2022-03-27 00:00:00.000' '2019-04-16 00:00:00.000'
 '2019-12-26 00:00:00.000' '2019-08-14 00:00:00.000'
 '2020-06-17 00:00:00.000' '2020-05-21 00:00:00.000'
 '2022-06-10 00:00:00.000' '2021-11-20 00:00:00.000'
 '2021-04-28 00:00:00.000' '2022-06-15 00:00:00.000'
 '2020-07-19 00:00:00.000' '2018-10-31 00:00:00.000'
 '2023-07-01 00:00:00.000' '2020-04-09 00:00:00.000'
 '2020-12-25 00:00:00.000' '2020-06-16 00:00:00.000'
 '2022-04-12 00:00:00.000' '2020-08-01 00:00:00.000'
 '2023-05-26 00:00:00.000' '2020-01-27 00:00:00.000'
 '2018-12-13 00:00:00.000' '2022-06-08 00:00:00.000'
 '2022-06-20 00:00:00.000' '2021-05-12 00:00:00.000'
 '2023-01-01 00:00:00.000' '2020-05-08 00:00:00.000'
 '2019-02-07 00:00:00.000' '2020-10-24 00:00:00.000'
 '2018-08-18 00:00:00.000' '2022-10-21 00:00:00.000'
 '2023-01-13 00:00:00.000' '2020-12-06 00:00:00.000'
 '2022-11-26 00:00:00.000' '2020-04-29 00:00:00.000'
 '2021-05-20 00:00:00.000' '2023-06-03 00:00:00.000'
 '2019-04-30 00:00:00.000' '2021-07-04 00:00:00.000'
 '2022-07-10 00:00:00.000' '2022-09-19 00:00:00.000'
 '2018-08-13 00:00:00.000' '2023-07-28 00:00:00.000'
 '2022-08-11 00:00:00.000' '2020-02-19 00:00:00.000'
 '2018-10-02 00:00:00.000' '2021-03-20 00:00:00.000'
 '2019-12-06 00:00:00.000' '2020-10-19 00:00:00.000'
 '2022-03-13 00:00:00.000' '2022-11-16 00:00:00.000'
 '2019-07-19 00:00:00.000' '2020-03-24 00:00:00.000'
 '2022-05-10 00:00:00.000' '2022-04-14 00:00:00.000'
 '2020-01-28 00:00:00.000' '2023-04-04 00:00:00.000'
 '2018-10-21 00:00:00.000' '2022-10-14 00:00:00.000'
 '2022-02-12 00:00:00.000' '2018-08-30 00:00:00.000'
 '2022-12-10 00:00:00.000' '2023-02-04 00:00:00.000'
 '2020-08-19 00:00:00.000' '2020-10-03 00:00:00.000'
 '2023-01-08 00:00:00.000' '2019-09-03 00:00:00.000'
 '2019-10-08 00:00:00.000' '2021-06-03 00:00:00.000'
 '2018-09-14 00:00:00.000' '2023-01-27 00:00:00.000'
 '2020-07-03 00:00:00.000' '2020-09-28 00:00:00.000'
 '2020-09-16 00:00:00.000' '2020-02-09 00:00:00.000'
 '2021-04-14 00:00:00.000' '2021-08-13 00:00:00.000'
 '2022-07-23 00:00:00.000' '2020-03-28 00:00:00.000'
 '2019-03-18 00:00:00.000' '2018-10-28 00:00:00.000'
 '2020-04-03 00:00:00.000' '2023-04-16 00:00:00.000'
 '2021-10-24 00:00:00.000' '2022-07-05 00:00:00.000'
 '2023-03-27 00:00:00.000' '2019-08-26 00:00:00.000'
 '2020-11-11 00:00:00.000' '2023-07-02 00:00:00.000'
 '2021-08-27 00:00:00.000' '2020-01-25 00:00:00.000'
 '2019-02-11 00:00:00.000' '2021-12-22 00:00:00.000'
 '2019-10-19 00:00:00.000' '2019-12-25 00:00:00.000'
 '2022-09-17 00:00:00.000' '2021-01-08 00:00:00.000'
 '2020-09-12 00:00:00.000' '2020-05-09 00:00:00.000'
 '2019-02-27 00:00:00.000' '2020-01-12 00:00:00.000'
 '2021-07-15 00:00:00.000' '2019-09-23 00:00:00.000'
 '2023-07-06 00:00:00.000' '2021-06-21 00:00:00.000'
 '2021-10-08 00:00:00.000' '2019-02-03 00:00:00.000'
 '2021-07-12 00:00:00.000' '2019-01-28 00:00:00.000'
 '2022-01-23 00:00:00.000' '2020-08-10 00:00:00.000'
 '2020-04-27 00:00:00.000' '2018-12-06 00:00:00.000'
 '2020-03-12 00:00:00.000' '2018-12-09 00:00:00.000'
 '2022-12-25 00:00:00.000' '2020-05-28 00:00:00.000'
 '2021-03-01 00:00:00.000' '2020-07-16 00:00:00.000'
 '2019-07-18 00:00:00.000' '2019-03-10 00:00:00.000'
 '2018-08-23 00:00:00.000' '2023-08-01 00:00:00.000'
 '2022-02-08 00:00:00.000' '2022-10-12 00:00:00.000'
 '2023-07-23 00:00:00.000' '2020-12-23 00:00:00.000'
 '2020-09-23 00:00:00.000' '2021-08-29 00:00:00.000'
 '2018-11-28 00:00:00.000' '2020-06-21 00:00:00.000'
 '2021-01-19 00:00:00.000' '2020-08-13 00:00:00.000'
 '2019-05-27 00:00:00.000' '2020-08-22 00:00:00.000'
 '2022-01-24 00:00:00.000' '2018-12-04 00:00:00.000'
 '2018-08-12 00:00:00.000' '2019-09-01 00:00:00.000'
 '2021-02-23 00:00:00.000' '2021-01-17 00:00:00.000'
 '2022-04-20 00:00:00.000' '2021-12-31 00:00:00.000'
 '2019-12-12 00:00:00.000' '2019-07-02 00:00:00.000'
 '2019-01-23 00:00:00.000' '2023-05-29 00:00:00.000'
 '2019-01-07 00:00:00.000' '2020-11-30 00:00:00.000'
 '2018-10-13 00:00:00.000' '2020-07-31 00:00:00.000'
 '2019-06-30 00:00:00.000' '2021-07-13 00:00:00.000'
 '2019-03-24 00:00:00.000' '2021-03-30 00:00:00.000'
 '2021-12-15 00:00:00.000' '2021-07-30 00:00:00.000'
 '2020-06-08 00:00:00.000' '2019-11-25 00:00:00.000'
 '2019-11-18 00:00:00.000' '2021-11-10 00:00:00.000'
 '2021-03-03 00:00:00.000' '2019-04-25 00:00:00.000'
 '2020-01-13 00:00:00.000' '2020-03-25 00:00:00.000'
 '2021-04-15 00:00:00.000' '2020-10-10 00:00:00.000'
 '2020-12-09 00:00:00.000']
['2023-07-03 00:00:00.000' '2023-01-29 00:00:00.000'
 '2022-11-27 00:00:00.000' '2023-05-12 00:00:00.000'
 '2022-02-04 00:00:00.000' '2023-06-18 00:00:00.000'
 '2023-05-27 00:00:00.000' '2022-11-11 00:00:00.000'
 '2023-05-24 00:00:00.000' '2021-09-17 00:00:00.000'
 '2022-09-09 00:00:00.000' '2023-07-06 00:00:00.000'
 '2023-04-02 00:00:00.000' '2021-05-31 00:00:00.000'
 '2023-06-08 00:00:00.000' '2023-06-22 00:00:00.000'
 '2021-12-20 00:00:00.000' '2020-06-21 00:00:00.000'
 '2023-05-10 00:00:00.000' '2022-07-04 00:00:00.000'
 '2023-01-13 00:00:00.000' '2020-08-24 00:00:00.000'
 '2023-07-16 00:00:00.000' '2023-07-24 00:00:00.000'
 '2023-01-27 00:00:00.000' '2023-07-29 00:00:00.000'
 '2020-08-28 00:00:00.000' '2021-10-26 00:00:00.000'
 '2021-10-17 00:00:00.000' '2022-01-04 00:00:00.000'
 '2023-04-26 00:00:00.000' '2023-05-01 00:00:00.000'
 '2023-05-29 00:00:00.000' '2022-06-18 00:00:00.000'
 '2023-01-20 00:00:00.000' '2021-07-02 00:00:00.000'
 '2023-07-14 00:00:00.000' '2022-12-03 00:00:00.000'
 '2022-10-24 00:00:00.000' '2021-05-01 00:00:00.000'
 '2021-01-30 00:00:00.000' '2023-07-30 00:00:00.000'
 '2023-07-07 00:00:00.000' '2019-10-13 00:00:00.000'
 '2022-09-05 00:00:00.000' '2022-01-12 00:00:00.000'
 '2023-01-21 00:00:00.000' '2023-08-06 00:00:00.000'
 '2023-06-19 00:00:00.000' '2023-01-10 00:00:00.000'
 '2022-03-02 00:00:00.000' '2021-12-11 00:00:00.000'
 '2022-12-25 00:00:00.000' '2021-08-03 00:00:00.000'
 '2021-02-27 00:00:00.000' '2020-08-30 00:00:00.000'
 '2022-04-16 00:00:00.000' '2021-02-04 00:00:00.000'
 '2023-05-30 00:00:00.000' '2022-09-20 00:00:00.000'
 '2023-04-09 00:00:00.000' '2023-04-17 00:00:00.000'
 '2023-02-18 00:00:00.000' '2021-10-22 00:00:00.000'
 '2022-01-09 00:00:00.000' '2023-07-09 00:00:00.000'
 '2021-09-18 00:00:00.000' '2023-07-04 00:00:00.000'
 '2023-01-09 00:00:00.000' '2021-03-22 00:00:00.000'
 '2023-02-17 00:00:00.000' '2023-03-28 00:00:00.000'
 '2020-10-06 00:00:00.000' '2020-12-10 00:00:00.000'
 '2022-01-25 00:00:00.000' '2023-03-26 00:00:00.000'
 '2023-07-10 00:00:00.000' '2023-02-06 00:00:00.000'
 '2023-04-11 00:00:00.000' '2021-10-13 00:00:00.000'
 '2023-07-27 00:00:00.000' '2023-05-03 00:00:00.000'
 '2022-05-05 00:00:00.000' '2023-06-13 00:00:00.000'
 '2022-10-21 00:00:00.000' '2022-04-03 00:00:00.000'
 '2021-05-21 00:00:00.000' '2023-06-26 00:00:00.000'
 '2021-08-05 00:00:00.000' '2021-04-21 00:00:00.000'
 '2023-05-18 00:00:00.000' '2021-08-11 00:00:00.000'
 '2022-08-18 00:00:00.000' '2022-04-25 00:00:00.000'
 '2023-06-12 00:00:00.000' '2022-10-11 00:00:00.000'
 '2023-06-06 00:00:00.000' '2020-02-07 00:00:00.000'
 '2021-08-23 00:00:00.000' '2023-02-24 00:00:00.000'
 '2021-06-27 00:00:00.000' '2022-09-26 00:00:00.000'
 '2023-07-28 00:00:00.000' '2022-07-10 00:00:00.000'