<hr style="border:2px solid gray"> </hr>
<img src="https://mma.prnewswire.com/media/1095203/East_Tennessee_State_University_Logo.jpg?p=facebook" width=200 height=200 />

<div class="alert alert-block alert-info">
    <h1 style="text-align: center">CSCI 5270 - Machine Learning</h1>
</div>

# <center>Project- Tech- Employes Layoffs Prediction and Analysis</center>

**<center>Dr. Ahmad Al-Doulat </center>**
<center>Department of Computing </center>
<center>East Tennessee State University</center>

<hr style="border:2px solid lightblue"> </hr>

# Question 1: Using Logistic Regression
<hr style="border:1px solid orange"> </hr>

In [26]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
%matplotlib inline

sns.set_style('darkgrid')
sns.set_palette('Set2')

In [27]:
dataset = pd.read_csv('LayOffDataset.csv')
dataset.shape

(3000, 26)

In [28]:
# exploring the dataset
dataset.head(10)

,EmpID,FirstName,LastName,StartDate,ExitDate,Title,Supervisor,ADEmail,BusinessUnit,EmployeeStatus,...,Division,DOB,State,JobFunctionDescription,GenderCode,LocationCode,RaceDesc,MaritalDesc,Performance Score,Current Employee Rating
0,3427,Uriah,Bridges,2019-09-20 00:00:00.000,NaN,Production Technician I,Peter Oneill,uriah.bridges@bilearner.com,CCDR,Active,...,Finance & Accounting,07-10-1969,MA,Accounting,Female,34904,White,Widowed,Fully Meets,4
1,3428,Paula,Small,2023-02-11 00:00:00.000,NaN,Production Technician I,Renee Mccormick,paula.small@bilearner.com,EW,Active,...,Aerial,30-08-1965,MA,Labor,Male,6593,Hispanic,Widowed,Fully Meets,3
2,3429,Edward,Buck,2018-12-10 00:00:00.000,NaN,Area Sales Manager,Crystal Walker,edward.buck@bilearner.com,PL,Active,...,General - Sga,06-10-1991,MA,Assistant,Male,2330,Hispanic,Widowed,Fully Meets,4
3,3430,Michael,Riordan,2021-06-21 00:00:00.000,NaN,Area Sales Manager,Rebekah Wright,michael.riordan@bilearner.com,CCDR,Active,...,Finance & Accounting,04-04-1998,ND,Clerk,Male,58782,Other,Single,Fully Meets,2
4,3431,Jasmine,Onque,2019-06-29 00:00:00.000,NaN,Area Sales Manager,Jason Kim,jasmine.onque@bilearner.com,TNS,Active,...,General - Con,29-08-1969,FL,Laborer,Female,33174,Other,Married,Fully Meets,3
5,3432,Maruk,Fraval,2020-01-17 00:00:00.000,NaN,Area Sales Manager,Sheri Campos,maruk.fraval@bilearner.com,BPC,Active,...,Field Operations,03-04-1949,CT,Driver,Male,6050,Black,Married,Fully Meets,3
6,3433,Latia,Costa,2022-04-06 00:00:00.000,2023-07-03 00:00:00.000,Area Sales Manager,Jacob Braun,latia.costa@bilearner.com,WBL,Active,...,General - Eng,01-07-1942,CA,Technician,Female,90007,Hispanic,Divorced,Exceeds,4
7,3434,Sharlene,Terry,2020-11-06 00:00:00.000,2023-01-29 00:00:00.000,Area Sales Manager,Tracy Marquez,sharlene.terry@bilearner.com,CCDR,Active,...,Engineers,07-03-1957,OR,Engineer,Female,97756,White,Divorced,Fully Meets,2
8,3435,Jac,McKinzie,2018-08-18 00:00:00.000,NaN,Area Sales Manager,Sharon Becker,jac.mckinzie@bilearner.com,NEL,Active,...,Executive,15-05-1974,TX,Executive Assistant,Male,78789,Black,Widowed,Exceeds,3
9,3436,Joseph,Martins,2022-01-21 00:00:00.000,2023-06-29 00:00:00.000,Area Sales Manager,George Jenkins,joseph.martins@bilearner.com,BPC,Active,...,Engineers,11-11-1949,TX,Engineer,Male,78207,Asian,Widowed,Fully Meets,5

In [29]:
dataset.columns

Index(['EmpID', 'FirstName', 'LastName', 'StartDate', 'ExitDate', 'Title',
       'Supervisor', 'ADEmail', 'BusinessUnit', 'EmployeeStatus',
       'EmployeeType', 'PayZone', 'EmployeeClassificationType',
       'TerminationType', 'TerminationDescription', 'DepartmentType',
       'Division', 'DOB', 'State', 'JobFunctionDescription', 'GenderCode',
       'LocationCode', 'RaceDesc', 'MaritalDesc', 'Performance Score',
       'Current Employee Rating'],
      dtype='object')

In [30]:
dataset.TerminationType.value_counts()

TerminationType
Unk            1467
Involuntary     388
Voluntary       388
Resignation     380
Retirement      377
Name: count, dtype: int64

In [31]:
dataset.isnull().sum()

EmpID                            0
FirstName                        0
LastName                         0
StartDate                        0
ExitDate                      1467
Title                            0
Supervisor                       0
ADEmail                         18
BusinessUnit                     0
EmployeeStatus                   0
EmployeeType                     0
PayZone                          0
EmployeeClassificationType       0
TerminationType                  0
TerminationDescription        1467
DepartmentType                   0
Division                         0
DOB                              0
State                            0
JobFunctionDescription           0
GenderCode                       0
LocationCode                     0
RaceDesc                         0
MaritalDesc                      0
Performance Score                0
Current Employee Rating          0
dtype: int64

In [32]:
dataset.drop(columns=['ExitDate','TerminationDescription','EmpID','ADEmail','FirstName','LastName'],inplace=True)
dataset.head(10)

,StartDate,Title,Supervisor,BusinessUnit,EmployeeStatus,EmployeeType,PayZone,EmployeeClassificationType,TerminationType,DepartmentType,Division,DOB,State,JobFunctionDescription,GenderCode,LocationCode,RaceDesc,MaritalDesc,Performance Score,Current Employee Rating
0,2019-09-20 00:00:00.000,Production Technician I,Peter Oneill,CCDR,Active,Contract,Zone C,Temporary,Unk,Production,Finance & Accounting,07-10-1969,MA,Accounting,Female,34904,White,Widowed,Fully Meets,4
1,2023-02-11 00:00:00.000,Production Technician I,Renee Mccormick,EW,Active,Contract,Zone A,Part-Time,Unk,Production,Aerial,30-08-1965,MA,Labor,Male,6593,Hispanic,Widowed,Fully Meets,3
2,2018-12-10 00:00:00.000,Area Sales Manager,Crystal Walker,PL,Active,Full-Time,Zone B,Part-Time,Unk,Sales,General - Sga,06-10-1991,MA,Assistant,Male,2330,Hispanic,Widowed,Fully Meets,4
3,2021-06-21 00:00:00.000,Area Sales Manager,Rebekah Wright,CCDR,Active,Contract,Zone A,Full-Time,Unk,Sales,Finance & Accounting,04-04-1998,ND,Clerk,Male,58782,Other,Single,Fully Meets,2
4,2019-06-29 00:00:00.000,Area Sales Manager,Jason Kim,TNS,Active,Contract,Zone A,Temporary,Unk,Sales,General - Con,29-08-1969,FL,Laborer,Female,33174,Other,Married,Fully Meets,3
5,2020-01-17 00:00:00.000,Area Sales Manager,Sheri Campos,BPC,Active,Contract,Zone B,Full-Time,Unk,Sales,Field Operations,03-04-1949,CT,Driver,Male,6050,Black,Married,Fully Meets,3
6,2022-04-06 00:00:00.000,Area Sales Manager,Jacob Braun,WBL,Active,Full-Time,Zone B,Temporary,Involuntary,Sales,General - Eng,01-07-1942,CA,Technician,Female,90007,Hispanic,Divorced,Exceeds,4
7,2020-11-06 00:00:00.000,Area Sales Manager,Tracy Marquez,CCDR,Active,Contract,Zone C,Full-Time,Involuntary,Sales,Engineers,07-03-1957,OR,Engineer,Female,97756,White,Divorced,Fully Meets,2
8,2018-08-18 00:00:00.000,Area Sales Manager,Sharon Becker,NEL,Active,Contract,Zone B,Part-Time,Unk,Sales,Executive,15-05-1974,TX,Executive Assistant,Male,78789,Black,Widowed,Exceeds,3
9,2022-01-21 00:00:00.000,Area Sales Manager,George Jenkins,BPC,Active,Part-Time,Zone B,Temporary,Resignation,Sales,Engineers,11-11-1949,TX,Engineer,Male,78207,Asian,Widowed,Fully Meets,5

In [33]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   StartDate                   3000 non-null   object
 1   Title                       3000 non-null   object
 2   Supervisor                  3000 non-null   object
 3   BusinessUnit                3000 non-null   object
 4   EmployeeStatus              3000 non-null   object
 5   EmployeeType                3000 non-null   object
 6   PayZone                     3000 non-null   object
 7   EmployeeClassificationType  3000 non-null   object
 8   TerminationType             3000 non-null   object
 9   DepartmentType              3000 non-null   object
 10  Division                    3000 non-null   object
 11  DOB                         3000 non-null   object
 12  State                       3000 non-null   object
 13  JobFunctionDescription      3000 non-null   object
 14  GenderCode                  3000 non-null   object
 15  LocationCode                3000 non-null   int64
 16  RaceDesc                    3000 non-null   object
 17  MaritalDesc                 3000 non-null   object
 18  Performance Score           3000 non-null   object
 19  Current Employee Rating     3000 non-null   int64
dtypes: int64(2), object(18)
memory usage: 468.9+ KB